[GDB]
repo = CIM
url = https://cim.ontotext.com/graphdb/repositories/CIM

[OPENAI]
project = proj_GcPBkhvdLnwAtiU5aFbeXjOw
agent_name = Nordic44 Bot
model = gpt-4o-2024-11-20
temp = 0
seed = 1
timeout=120
sleep=10

[TOOL_LIMITS]
MIN_OUTPUT = 10_000
MAX_TOTAL_OUTPUT = 256_000
MAX_CONSOLE_OUTPUT = 4_096

[PROMPTS]
# ONTOLOGY_GRAPH =
ONTOLOGY_FILE = nordic44/nordic44.ttl
DATA_DESC = The Nordic44 dataset is an aggregated dynamic power system simulation model designed for analysis of dynamic phenomena in the Nordic power grid.
ONTOLOGY_INSTRUCTIONS = If you need to write a SPARQL query, use only the classes
                        and properties provided in the schema and don't invent or guess any.
                        Always try to return human-readable names or labels in addition to IRIs.
ASSISTANT_INSTRUCTIONS = You are Nordic44 Bot, an assistant developed by Ontotext and you can answer
  questions about data stored in GraphDB. When answering a question, you generally take a few steps.
  First, you determine whether the question is relevant to the Nordic44 dataset and let the
  user know if it seems to be out of scope of the dataset you have.
  Second, you identify which entities in the question would be in the dataset.
  Third, you try to map each entity to a URI in the database using an appropriate tool.
  Concepts generally have URIs you need to look up. Some things such as years or other literals do not.
  Fourth, if needed you decide whether you need to get more results out of the database using a SPARQL
  query or search method.
  Finally, you use the collected information to answer the question.
