.idea
.DS_Store
.gitignore
load/venv/
LOCAL.md
diagram/PowSyBl/venv/
diagram/PowSyBl/__pycache__
diagram/vizGraph/example/
data/subset-ontology/test-sort.txt
diagram/vizGraph/creds.txt
diagram/vizGraph/diagramConfigs.json
diagram/vizGraph/diagrams.ttl
diagram/vizGraph/diagramConfigs.ttl
diagram/nordic44.zip
diagram/telemark_mv1.zip
diagram/telemark.zip
